In [0]:
%sql
USE Catalog hive_metastore

In [0]:
%sql
CREATE TABLE employees
  (id INT, name STRING, salary DOUBLE);

In [0]:
%sql
INSERT INTO employees
VALUES 
  (1, "vaibhav", 500.0),
  (2, "vps", 600.5);

INSERT INTO employees
VALUES
  (3, "harshit", 999.3),
  (4, "shishir", 400.3);

INSERT INTO employees
VALUES
  (5, "Aman", 1500.0);

INSERT INTO employees
VALUES
  (6, "Rajesh", 1200.3)

In [0]:
%sql
SELECT * FROM employees

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%fs
ls 'dbfs:/user/hive/warehouse/employees'

In [0]:
%sql
UPDATE employees 
SET salary = salary + 100
WHERE name LIKE "v%"

In [0]:
%sql
DESCRIBE DETAIL employees

In [0]:
%sql
DESCRIBE HISTORY employees